@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

.update-link:active {
  background-color: oklch(0.391 0.09 240.876) !important;
  color: white !important;
}

.update-link:focus {
  background-color: oklch(0.293 0.066 243.157) !important;
  color: white !important;
}